* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(https://images.contentstack.io/v3/assets/blt731acb42bb3d1659/blt4c94b53fe630f489/5e718af13ed79e6484b31580/LOL_PROMOART_4.jpg);
  background-size: 100%;
}

#title {
  width: 100%;
  display: block;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: darkgoldenrod;
  font-size: 45px;
  padding: 0 20px;
  /* background-color: black; */
}

.champion {
  color: chartreuse;
  padding: 10px;
  font-size: 20px;
}

.selected {
  background-color: rgb(26, 192, 142);
  font-size: 35px;
  transition: 1s;
}

.deSelected {
  background-color: none;
  transition: 1s;
}

p {
  font-size: 22px;
}

#champs {
  display: flex;
  flex-wrap: wrap;
  padding: 30px;
  line-height: 30px;
}

#champCards {
  display: flex;
  flex-wrap: nowrap;
  padding: 30px;
  line-height: 30px;
  font-family: serif;
  font-size: 28px;
  color: rgb(177, 167, 25);
  font-weight: 700;
  text-align: justify;
}

.cardicon {
  max-width: 40px;
  max-height: 40px;
}

#cardText {
  padding: 10px;
}
