#div1:hover {
    border: 5px solid;
    border-color:rgb(52, 88, 207);
    height: 50px;
}

#div2:hover {
    border: 5px solid;
    border-color:rgb(34, 128, 31);
    height: 50px;
}

#div3:hover {
    border: 5px solid;
    border-color:rgb(216, 188, 27);
    height: 70px;
}

#div4:hover {
    border: 5px solid;
    border-color:rgb(2, 2, 2);
    height: 50px;
}

#div5:hover {
    border: 5px solid;
    border-color:rgb(24, 203, 226);
    height: 45px;
}

#corPrimaria {
    font-family: cursive;
    font-style: italic;
    font-weight: bolder;
    font-size: 22px;
}

#corSecundaria {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 22px;
}

#corComplementar {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
    font-size: 22px;
}

#corEscura {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 22px;
}

#corClara {
    font-family: cursive;
    font-style: italic;
    font-size: 22px;
}